[edit]
    command = "nvim"
encryption = "gpg"
[gpg]
    recipient = "nakxkri@shinishiho.cyou"
[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
