font_family      CaskaydiaCove Nerd Font Mono
bold_font        auto
italic_font      auto
bold_italic_font auto

{{ if eq .chezmoi.os "darwin" }}
font_size 20.0
background_opacity 0.60
background_blur 30
{{ end }}
{{ if eq .chezmoi.os "linux" }}
font_size 14.0
{{ end }}
include themes/theme.conf
window_padding_width 5
allow_remote_control socket-only
listen_on unix:/tmp/kitty
